@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-primary bg-background text-foreground;
  }

  h1 {
    @apply font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}
