@font-face {
	font-family: 'Involve';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url(/fonts/Involve-Regular.woff2) format('woff2'),
		url(/fonts/Involve-Regular.woff) format('woff'),
		url(/fonts/Involve-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Involve';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src:
		url(/fonts/Involve-Medium.woff2) format('woff2'),
		url(/fonts/Involve-Medium.woff) format('woff'),
		url(/fonts/Involve-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Involve';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src:
		url(/fonts/Involve-SemiBold.woff2) format('woff2'),
		url(/fonts/Involve-SemiBold.woff) format('woff'),
		url(/fonts/Involve-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Involve';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:
		url(/fonts/Involve-Bold.woff2) format('woff2'),
		url(/fonts/Involve-Bold.woff) format('woff'),
		url(/fonts/Involve-Bold.ttf) format('truetype');
}