@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--color-stone-50);
  --color-foreground: var(--color-black);
  --color-primary: #e13030;
  --color-secondary: var(--color-black);
  --text-fluid-xs: clamp(
    0.75rem,
    calc(0.75rem + ((1vw - 0.2rem) * 0.75)),
    1.5rem
  ); /* 12px → 24px адаптивный размер */
  --text-fluid-xs--line-height: 1.6;

  --text-fluid-huge: clamp(
    2.75rem,
    calc(2.75rem + ((1vw - 0.2rem) * 2.75)),
    5.5rem
  ); /* 44px → 88px адаптивный размер */
  --text-fluid-huge--line-height: 1.1;

  --breakpoint-2xl: 1281px;
  --breakpoint-xl: 1025px;
  --breakpoint-lg: 769px;
  --breakpoint-md: 476px;
  --breakpoint-sm: 321px;
}

.dark {
  --color-background: var(--color-stone-950);
  --color-foreground: var(--color-white);
  --color-primary: #e13030;
  --color-secondary: var(--color-stone-100);
}
