@utility section-h-adaptive {
  @apply h-dvh min-h-[700px];
}

@utility main-top-padding {
  padding-top: clamp(3.25rem, calc(3.25rem + ((1vw - 0.2rem) * 3.9286)), 6rem);
}

@utility glass {
  @apply bg-stone-950/10 backdrop-blur-lg border-1 border-stone-50/10;
}