---
import { MainLayout } from "@/layouts";
import {
  HeroSection,
  AboutSection,
  ProjectsSection,
  OurPrinciplesSection,
  OurClanSection,
  ClientsSection,
  FromJournalSection,
} from "@/components/sections/home";
import { CTASection } from "@/components/sections/common";
---

<MainLayout title="KAIDEM — Cоздатели цифровых продуктов и брендов">
  <main>
    <HeroSection />
    <AboutSection />
    <ProjectsSection />
    <OurPrinciplesSection />
    <OurClanSection />
    <ClientsSection />
    <FromJournalSection />
    <CTASection />
  </main>
</MainLayout>
