---
import { MainLayout } from "@/layouts";
import { HeroSection, AboutSection } from "@/components/sections/home";
---

<MainLayout title="Home page">
  <main>
    <HeroSection />
    <AboutSection />
  </main>
</MainLayout>
