---
import { MainLayout } from "@/layouts";
---

<MainLayout title="Journal">
  <main class="main-top-padding">
    <section class="pt-20">
      <div class="base-container">
        <h1 class="text-4xl">Journal</h1>
      </div>
    </section>
  </main>
</MainLayout>
