---
import { MainLayout } from "@/layouts";
---

<MainLayout title="Проекты KAIDEM: веб-сайты, мобильные приложения, интернет-магазины, АРМ системы">
  <main class="main-top-padding">
    <section class="pt-20">
      <div class="base-container">
        <h1 class="text-4xl">Проекты</h1>
      </div>
    </section>
  </main>
</MainLayout>
