---

---

<section>
  <div class="base-container py-15 grid grid-cols-[1fr_auto_1fr]">
    <div class="items flex flex-col gap-10 text-end py-10 pr-10">
      <div class="item">
        <h2>150+</h2>
        <span>
          Созданных проектов – веб-сайты, <br /> мобильные приложения, дизайн
        </span>
      </div>
      <div class="item">
        <h2>12+</h2>
        <span>
          Индустрий от финтеха и девелопмента <br /> до образования и e-commerce
        </span>
      </div>
      <div class="item">
        <h2>7</h2>
        <span>
          Лет работы с компаниями, где точность, <br /> системность и визуальная
          культура <br /> определяют результат
        </span>
      </div>
    </div>
    <div class="w-px bg-border"></div>
    <div class="py-10 pl-10 grid grid-rows-[auto_1fr_1fr] gap-10">
      <div>
        <p class="font-bold text-[2rem] leading-tight">
          Kaidem — стратегический партнёр <br /> в создании цифровых экосистем. <br/>
          Объединяем аналитику, дизайн <br /> и технологию в цельный <br /> продуктовый
          процесс.
        </p>
      </div>
      <div class="bg-amber-50">Avatars</div>
      <div class="self-end">Подробнее о нас</div>
    </div>
  </div>
</section>

<style>
  h2 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 0.8;
  }
</style>
