---

---

<section>
  <div class="base-container grid grid-cols-[1fr_auto_1fr]">
    <div class="items flex flex-col gap-2">
      <div class="item">
        <h2>150+</h2>
        <span>
          Созданных проектов – веб-сайты, мобильные приложения, дизайн
        </span>
      </div>
      <div class="item">
        <h2>12+</h2>
        <span>
          Индустрий от финтеха и девелопмента до образования и e-commerce
        </span>
      </div>
      <div class="item">
        <h2>7</h2>
        <span>
          Лет работы с компаниями, где точность, системность и визуальная
          культура определяют результат
        </span>
      </div>
    </div>
    <div class="w-px bg-amber-700"></div>
    <div>
      <p>
        Kaidem — стратегический партнёр в создании цифровых экосистем.
        Объединяем аналитику, дизайн и технологию в цельный продуктовый процесс.
      </p>
      <div>Avatars</div>
      <div>
        Подробнее о нас
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    font-size: 4rem;
    font-weight: 700;
  }
</style>
