---

---

<section class="section-h-adaptive">
  <div class="main-container flex flex-col justify-end">
    <div>
      <h1 class="text-5xl text-end w-fit">
        <span>Создаем цифровые</span>
        <span class="block">продукты, приносящие</span>
        <span>результат</span>
      </h1>
      <p class="text-2xl font-semibold max-w-fit">
        От идеи до роста <br/> бизнеса – дизайн, <br/> разработка, стратегия.
      </p>
    </div>
  </div>
</section>
