---
import { Button, ScrollDown } from "@/components/ui";
---

<section class="section-h-adaptive">
  <div class="main-container grid grid-rows-[1fr_2fr_1fr]">
    <div></div>
    <div class="flex items-center justify-center">
      <h1 class="text-end w-fit">
        <span>Создаем цифровые</span>
        <span class="block">продукты, приносящие</span>
        <span>результат</span>
      </h1>
    </div>
    <div class="grid grid-cols-3 items-end">
      <p class="text-2xl font-semibold max-w-fit">
        От идеи до роста <br /> бизнеса – дизайн, <br /> разработка, стратегия.
      </p>
      <div class="flex justify-center">
        <ScrollDown />
      </div>
      <div class="flex justify-end">
        <Button client:load text="Обсудить проект" />
      </div>
    </div>
  </div>
</section>

<style>
  h1 {
    font-size: clamp(
      1.5rem,
      calc(1.5rem + ((1vw - 0.23437999999999998rem) * 4.3936)),
      7.5rem
    );
    line-height: 1;
  }
</style>
