---

---

<section
  class="h-dvh max-xl:h-[80vh] max-xl:min-h-[500px] max-lg:h-[60vh] max-lg:min-h-[400px]"
>
  <div class="main-container flex flex-col justify-end">
    <div>
      <p class="text-fluid-xs uppercase mb-3 ml-1 max-w-fit">
        От идеи до роста бизнеса
      </p>
      <h1 class="text-fluid-huge text uppercase max-w-fit">
        <span class="block">Создаем</span>
        <span class="block">цифровые</span>
        <span class="block">продукты</span>
      </h1>
    </div>
  </div>
</section>
