---
import Play from "@/assets/icons/play.svg";
---

<a href="#services-section" aria-label="Включить шоурил" class="max-w-fit flex gap-2">
  <img src={Play.src} alt="Кнопка включения шоурила" />
  <span class="text-lg font-semibold mt-1.5">Showreel 2025</span>
</a>
